<!--home.component.html-->
<h1>The Angular Blog 📝</h1>

<h2>{{ getName() }}</h2>

<input
  type="text"
  [placeholder]="name"
  [(ngModel)]="name"
  [ngModel]="name"
  (ngModelChange)="name = $event"
/>

<button [disabled]="false" (click)="showAlert()">Click me!</button>

<img [src]="entry.image" [alt]="entry.title" />

<!-- Step 1: add a single dummy entry directly -->
<app-blog-entry></app-blog-entry>
<!-- Step 2: forward a full list of entries to the blog-list component -->
<app-blog-list></app-blog-list>
<hr />
<app-blog-form></app-blog-form>
