<!--home.component.html-->
<h1>The Angular Blog 📝</h1>

<app-card title="Foo">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis libero,
    iure quidem sit unde nesciunt veniam sed voluptatibus nostrum, fuga at
    cumque atque laborum perspiciatis veritatis! Modi quidem quis sapiente!
  </p>
</app-card>

<h2>{{ dummysingleentry.title }}</h2>

<!-- Step 1: add a single dummy entry directly -->
<app-blog-entry
  [entry]="dummysingleentry"
  (entryChange)="dummysingleentry = $event"
></app-blog-entry>

<!-- With double data binding -->
<app-blog-entry [(entry)]="dummysingleentry"></app-blog-entry>

<!-- Step 2: forward a full list of entries to the blog-list component -->
<app-blog-list [blogentries]="blogentries"></app-blog-list>
<hr />
<app-blog-form></app-blog-form>
